div.home-banner
{
  width: 100%;
}

div.banner-overlay
{
  width: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.3;
}

span.move-down
{
  height: 35px;
  width: 35px;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 35px);
  border-radius: 10px;
  opacity: 1;
  z-index: 10;
}

span.move-down img
{
  width: 100%;
  height: auto;
}

div.home-featured
{
  width: 100%;
  height: 600px;
  background-color: #333;
}

div.parallax-mirror img
{
  width: 1000px;
}

/* News Section */
div.home-news
{
  width: 100%;
  height: 600px;
  background-color: #555;
  overflow: auto;
  white-space: nowrap;
}

div.home-news .news-container
{
  width: auto;
  height: 530px;
  position: relative;
  top: 35px !important;
}

div.news-item
{
  display: inline-block;
  width: 300px;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #777;
  float: left;
}


/* Welcome Section */
div.home-welcome
{
  width: 100%;
  height: 80px;
  background-color: #444;
  color: white;
  font-size: 2.5em;
  font-family: opensans-b;
  line-height: 80px;
  text-align: center;
}

div.home-recent
{
  width: 100%;
  height: 450px;
  background-color: #333;
}

div.menu-profile
{
  width: 200px;
  height: 50px;
  position: absolute;
  z-index: 11;
  right: 350px;
}

div.menu-profile img
{
  height:50px;
  width: auto;
  border-radius: 0px;
  margin-top: -4px;
}

a.fa-name-small
{
  font-size: 1em;
  line-height: 50px;
  color: white;
  font-family: opensans-b;
  padding-left: 15px !important;
}

a.fa-name-small:hover
{
  cursor: pointer;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 990px)
{
  span.move-down
  {
    left: calc((100%/2) - 15px);
  }
}
