div.main-menu
{
  width: 100%;
  height: 50px;
  margin-top: -50px;
  background-color: #111;
  position: fixed;
  z-index: 100;
}

div.nav-logo
{
  position: absolute;
  top: 0;
  left: 25px;
  height: 50px;
  width: 250px;
  color: white;
}

span.logo-box
{
  position: absolute;
  top: 0;
  height: 100%;
}

span.logo-box img
{
  height: 100%;
  width: auto;
}

div.nav-settings, div.nav-profile
{
  position: absolute;
  right: 25px;
  text-align: center;
  font-size: 0.9em;
  height: 50px;
  line-height: 50px;
  color: white;
}

#profile, #upload, #settings
{
  -webkit-transition: 0.1s ease;
  -webkit-transition-property: background-color;
}

#upload:hover
{
  background-color: #faaf3a;
  cursor: pointer;
}

#profile:hover, #settings:hover, #subbox:hover
{
  background-color: #444;
  cursor: pointer;
}

div.nav-upload
{
  position: absolute;
  left: 285px;
  text-align: center;
  font-size: 0.9em;
  height: 50px;
  line-height: 50px;
  color: white;
}

div.nav-settings-dropdown
{
  width: 180px;
  height: auto;
  position: absolute;
  top: 50px;
  right: 25px;
  background-color: #111;
  display: none;
  border-radius: 0px 0px 10px 10px;
}

div.nav-profile-dropdown
{
  width: 180px;
  height: auto;
  position: absolute;
  top: 50px;
  right: 135px;
  background-color: #111;
  display: none;
  border-radius: 0px 0px 10px 10px;
}

div.nav-settings-dropdown h4, div.nav-profile-dropdown h4
{
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  border-bottom: 1px solid #faaf3a;
  color: white;
  width: calc(100% - 20px);
  font-size: 1em;
  marg-left: 10px;
  text-align: center;
}

div.nav-settings-dropdown a, div.nav-profile-dropdown a
{
  height: 35px;
  line-height: 35px;
  color: white !important;
  width: 180px;
  font-size: 0.8em;
  padding-left: 10px !important;
  padding-right: 10px !important;
  display: block;
  -webkit-transition: 0.2s ease;
  -webkit-transition-property: background-color, color;
}

div.nav-settings-dropdown a:hover, div.nav-profile-dropdown a:hover
{
  background-color: #333;
  color: #faaf3a !important;
  cursor: pointer;
}

#subbox
{
  font-weight: 700;
}

div.nav-profile
{
  right: 00px;
}

div.nav-settings a, div.nav-profile a, div.nav-upload a
{
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: block;
  float: left;
}

div.nav-settings a:hover, div.nav-profile a:hover,
{
  cursor: pointer;
  background-color: #444;
}

div.nav-upload a:hover
{
  background-color: #faaf3a;
}

span.nav-caret
{
  height: 100%;
}

span.nav-caret img
{
  height: 10px;
  margin-left: 5px;
  width: auto;
}

span.upload-button
{
  height: 100%;
}

span.upload-button img
{
  height: 15px;
  margin-left: 5px;
  width: auto;
}

div.nav-search
{
  position: absolute;
  top: 0;
  left: 310px;
  height: 50px;
  width: 300px;
}

span.search-icon
{
  position: absolute;
  top: 0;
  left: 250px;
  height: 50px;
  width: 50px;
}

span.search-icon img
{
  height: 30px;
  width: auto;
  margin: 10px;
}

div.nav-search input
{
  height: 50px;
  font-size: 1.2em;
  width: 0px;
  background-color: #333;
  outline: none;
  border: none;
  color: #eee;
  padding-left: 10px !important;
}

#sfw-toggle
{
  height: 50px;
  line-height: 50px;
  background-color: #23a02f;
  color: white;
  -webkit-transition: 0.2s ease;
  -webkit-transition-property: background-color, color;
  border-radius: 0px 0px 10px 10px;
}

#sfw-toggle:hover
{
  color: white !important;
  background-color: #2ab737;
}

/* Mobile Responsiveness */

@media screen and (max-width: 1200px)
{

}

@media screen and (max-width: 990px)
{

}

@media screen and (max-width: 768px)
{
  div.nav-upload
  {
    display: none;
  }
}
