div.main-menu
{
  width: 100%;
  height: 50px;
  margin-top: -50px;
  background-color: #111;
  position: fixed;
  z-index: 100;
}

div.nav-logo
{
  position: absolute;
  top: 0;
  left: 25px;
  height: 50px;
  width: 250px;
  color: white;
}

span.logo-box
{
  position: absolute;
  top: 0;
  height: 100%;
}

span.logo-box img
{
  height: 100%;
  width: auto;
}

div.nav-settings, div.nav-profile
{
  position: absolute;
  right: 100px;
  text-align: center;
  font-size: 0.9em;
  height: 50px;
  line-height: 50px;
  color: white;
}

a.subbox
{
  font-weight: 700;
}

div.nav-profile
{
  right: 00px;
}

div.nav-settings a, div.nav-profile a
{
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: block;
  float: left;
}

div.nav-settings a:hover, div.nav-profile a:hover
{
  cursor: pointer;
  background-color: #444;
}

span.nav-caret
{
  height: 100%;
}

span.nav-caret img
{
  height: 10px;
  margin-left: 5px;
  width: auto;
}


div.nav-search
{
  position: absolute;
  top: 0;
  left: 310px;
  height: 50px;
  width: 300px;
}

span.search-icon
{
  position: absolute;
  top: 0;
  left: 250px;
  height: 50px;
  width: 50px;
}

span.search-icon img
{
  height: 30px;
  width: auto;
  margin: 10px;
}

div.nav-search input
{
  height: 50px;
  font-size: 1.2em;
  width: 0px;
  background-color: #333;
  outline: none;
  border: none;
  color: #eee;
  padding-left: 10px !important;
}

div.sfw-toggle
{
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100px;
  background-color: #23a02f;
  color: white;
}
