@font-face
{
    font-family: nhgb;
    src: url('../fonts/nhg/nhg75.ttf');
}

*
{
  font-family: nhgb !important;
}

.container-one, .container-three, .container-five
{
  height: 100%; width: 100%;
  background-color: #111111;
}

.container-two, .container-four
{
  height: 100%; width: 100%;
  background-color: #ef374f;
}

/* Container One */

.container-one .links
{
  position: absolute;
  top: 50px;
  left: 170px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 12;
}

.container-one .links div
{
  font-size: 4em;
  line-height: 1.2em;
  color: white !important;
  text-align: right;
  height: 1.2em;
  padding-right: 20px !important;
  padding-left: 150px !important;
  width: auto;
  display: inline-block;
  float: right;
  clear: right;
}

.container-one .links div:hover
{
  background-color: white;
  color: #ef374f !important;
  cursor: pointer;
}

.container-one .left-stripe
{
  background: linear-gradient(-90deg, #111111, #ef374f);
  height: calc(100% - 60px);
  width: 60px;
  position: absolute;
  left: 70px;
  top: 60px;
  z-index: 10;
}

.container-one .mylogo
{
  height: 150px;
  width: 150px;
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 15;
}

.art-carousel
{
  position: absolute !important;
  bottom: 50px;
  z-index: 11 !important;
}

.container-one .mylogo img
{
  height: 150px;
  width: 150px;
}

div.owl-carousel, .owl-stage, .owl-item
{
  max-width: none !important;
}

.item
{
  height: 300px !important;
  width: 300px !important;
}

/* END Container One */

/* Container Two */

.container-two
{
  position: relative;
}

/* END Container Two */

/* Container Three */

.container-three
{
  position: relative;
}

.container-three .section-links
{
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.container-three .section-links a
{
  font-size: 2.5em;
  color: white !important;
  float: left;
  padding: 5px 20px !important;
}

.container-three .section-links p
{
  font-size: 2.5em;
  color: white !important;
  float: left;
  padding: 5px 10px !important;
}

.container-three .section-links a:hover
{
  background-color: white;
  color: #252525 !important;
  cursor: pointer;
}

.area-logo{background-color: red; display: none;}
.area-album{background-color: blue; display: none;}
.area-display{background-color: green; display: none;}

/* END Container Three */

/* Container Four */

.container-four
{
  position: relative;
}

.container-four .section-links
{
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.container-four .section-links a
{
  font-size: 2.5em;
  color: white !important;
  float: left;
  padding: 5px 20px !important;
}

.container-four .section-links p
{
  font-size: 2.5em;
  color: white !important;
  float: left;
  padding: 5px 10px !important;
}

.container-four .section-links a:hover
{
  background-color: white;
  color: #252525 !important;
  cursor: pointer;
}

.area-projects{background-color: red; display: none;}
.area-skills{background-color: blue; display: none;}
.area-work{background-color: green; display: none;}

/* END Container Four */

/* Container Five */

.container-five
{
  position: relative;
}

/* END Container Five */

/* Container General */

.section-title
{
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 6em;
  color: white !important;
  position: relative;
  text-align: right;
  top: 230px;
  left: 50px;
  width: 80px;
  margin: 0;
  padding: 0 !important;
}

.section-box
{
  position: absolute;
  bottom: 175px;
  right: 50px;
  height: calc(100% - 225px);
  width: 80%;
}

.section-box div
{
  height: 100%;
  width: 100%;
}

.container-three .section-title{top: 270px;}
.container-four .section-title{top: 140px;}
.container-five .section-title{top: 320px;}

.back-up
{
  position: absolute;
  bottom: 30px;
  left: 30px;
  height: 30px;
  width: 30px;
}

/* END Container General */
