html, body
{
  background-color: #222;
}

div.profile-container
{
  z-index: 1;
  position: absolute;
}

div.profile-custom-background
{
  width: 100%;
  height: 410px;
  background-color: #e08a04;
  z-index: 0;
  position: absolute;
  overflow-y: hidden;

}

div.profile-custom-background img
{
  min-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  mix-blend-mode: soft-light;
}

div.profile-header-container
{
  width: 100%;
  height: 250px;
  margin-top: 70px;
  background-color: #222;
}

div.profile-header-container > .inner,
div.profile-nav-container > .inner,
div.profile-desc-container > .inner
{
  width: 70%;
  position: relative;
  margin: 0 15%;
  height: 250px;
}

div.profile-nav-container .inner{height: 50px;}
div.profile-desc-container .inner{height: auto; padding-bottom: 20px !important;}

div.profile-nav-container
{
  width: 100%;
  height: 50px;
  margin: 20px 0 20px 0;
}

div.profile-nav-container .inner
{
  background-color: #111;
  padding-left: 25px !important;
}

div.profile-nav-container .inner > a
{
  height: 50px;
  display: block;
  float: left;
  line-height: 50px;
  padding: 0 20px !important;
  margin-left: 1px !important;
  color: white;
  transition: 0.15s ease;
}

div.profile-nav-container .inner > a:hover
{
  cursor: pointer;
  color: #faaf3a;
}

a.menu_Select
{
  border-bottom: 5px solid #faaf3a;
}

div.menu_Select
{
  border-left: 5px solid #faaf3a !important;
  background: #444 !important;
}

div.profile-desc-container
{
  width: 100%;
  height: auto;
  margin: 40px 0 20px 0;
  display: none;
}

div.profile-desc-container .inner
{
  background-color: #353535;
}

.profile-user-avatar
{
  height: 100%;
  width: 210px;
  float: left;
}

.profile-user-avatar img
{
  max-width: 100%;
  max-height: 210px;
}

.profile-user-avatar > div
{
  height: 40px;
  width: 100%;
  float: left;
  color: #faaf3a;
  line-height: 40px;
  text-align: center;
  background-color: #111;
  font-size: 20px;
  font-family: opensans-b;
}

.profile-user-avatar > div span
{
  padding: 0 2px !important;
}

.profile-user-details
{
  width: calc(100% - 210px);
  height: 100%;
  float: right;
  background: #191919;
  position: relative;
}

.profile-user-details .inner
{
  width: 50%;
  height: 250px;
  float: left;
}

.profile-user-details .user-general
{
  width: 250px;
  height: 100px;
  float: left;
  padding: 10px !important;
}

.profile-user-details .user-other
{
  display: none;
}

.profile-user-details .user-other > span
{
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: left;
  display: block;
  color: #faaf3a;
  font-size: 30px;
  margin-top: 10px;
}

.profile-user-details .user-other > table
{
  width: 100%;
}

.profile-user-details .user-other > table th
{
  font-weight: bold;
  color: white;
  height: 24px;
  width: 40%;
  font-size: 14px;
}

.profile-user-details .user-other > table td
{
  color: white;
  height: 24px;
  width: 60%;
  font-size: 14px;
}

.profile-user-details .user-other > table tr:first-child th
{
  width: 35%;
}
.profile-user-details .user-other > table tr:first-child td
{
  width: 15%;
}

.profile-user-details .user-stats
{
  float: right;
  height: 250px;
  width: 275px;
}

.profile-user-details .user-stats > a
{
  width: 100%;
  height: 50px;
  display: block;
  font-size: 16px;
  color: white !important;
  padding-left: 15px !important;
  line-height: 50px;
  background-color: rgba(0,0,0,0.4);
  font-weight: 400;
}

.profile-user-details .user-stats > a span
{
  width: 90px;
  text-align: center;
  height: 50px;
  float: right;
  display: block;
  font-size: 16px;
  color: #faaf3a !important;
  padding: 0 15px !important;
  line-height: 50px;
  background-color: rgba(0,0,0,0.5);
}

.profile-user-details .user-stats > a:nth-child(even)
{
  background-color: rgba(0,0,0,0.3);
}

.profile-user-details .user-stats > a:hover
{
  color: #faaf3a !important;
  cursor: pointer;
}

.section-title
{
  padding: 15px 0 !important;
  height: 40px;
  line-height: 40px;
  color: #faaf3a;
  font-size: 35px;
  margin-top: 10px;
  width: 100%;
  display: block;
  margin: 0 15%;
}

.profile-desc-container .inner .desc-body
{
  padding: 5px 25px 10px 25px !important;
  color: white;
  font-size: 14px;
  width: 100%;
  text-align: justify;
}

.profile-gallery-container
{
  width: 100%;
  height: 500px;
  margin: 40px 0;
}

.profile-gallery-container .inner
{
  background-color: #191919;
  width: 70%;
  position: relative;
  margin: 0 15%;
  height: 500px;
}

.profile-gallery-container .inner .gallery-featured
{
  width: 500px;
  height: 500px;
  float: left;
  background: rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.profile-gallery-container .inner .gallery-featured img
{
  min-width: 500px !important;
  min-height: 500px;
}

.profile-gallery-container .inner .gallery-featured > div
{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
}

.profile-gallery-container .inner .gallery-featured > div > a
{
  padding-left: 25px !important;
  text-align: left;
  color: white;
  width: 100%;
  display: block;
  height: 50px;
  line-height: 55px;
  font-size: 24px;
}

.profile-gallery-container .inner .gallery-featured > div span
{
  padding-left: 25px !important;
  text-align: left;
  color: white;
  width: 100%;
  display: block;
  height: 25px;
  line-height: 10px;
  font-size: 14px;
}

.profile-gallery-container .inner .gallery-featured > div a:hover
{
  color: #faaf3a;
  cursor: pointer;
}

.profile-gallery-container .inner .gallery-recent
{
  width: calc(100% - 500px);
  height: calc(100%);
  float: left;
}

.profile-gallery-container .inner .gallery-recent > div
{
  height: 50%;
  width: 25%;
  float: left;
  overflow: hidden;
  text-align: center;
}

.profile-gallery-container .inner .gallery-recent img
{
  position: relative;
  min-width: 200%;
  height: auto;
}

.profile-favourites-container
{
  width: 100%;
  height: 500px;
  margin: 40px 0 20px 0;
  display: none;
}

.profile-favourites-container .inner
{
  background-color: #191919;
  width: 70%;
  position: relative;
  margin: 0 15%;
  height: 500px;
}
