div.profile-header
{
  width: 100%;
  height: 500px;
  background-image: url('../img/bg/header.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.profile-nav
{
  width: 100%;
  height: 50px;
  background-color: #222;
}

div.profile-nav img
{
  height: 100%;
  width: auto;
  border-radius: 5px;
}

div.profile-icon
{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: #777;
  position: absolute;
  z-index: 5;
  margin-top: -100px;
  margin-left: 50px;
  -webkit-transition: 0.25s ease;
  -webkit-transition-property: margin-top;
}

div.profile-name
{
  width: auto;
  height: 80px;
  position: absolute;
  z-index: 5;
  margin-top: -95px;
  margin-left: 275px;
}

span.fa-name
{
  font-size: 40px;
  font-weight: bold;
  padding-top: 10px;
  color: white;
}

span.fa-displayname
{
  font-size: 15px;
  color: white;
  opacity: 0.7;
}

span.icon-edit
{
  height: 25px;
  width: 25px;
  position: absolute;
  top: 7px;
  right: 7px;
  border-radius: 10px;
  display: none;
  opacity: 0.4;
}

span.icon-edit img
{
  width: 100%;
  height: auto;
}

span.banner-edit
{
  height: 25px;
  width: 25px;
  position: absolute;
  top: 60px;
  right: 10px;
  border-radius: 10px;
  opacity: 0.4;
  display: none;
}

span.banner-edit img
{
  width: 100%;
  height: auto;
}

span.icon-info
{
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 10px;
  left: 5px;
  border-radius: 10px;
  display: none;
  opacity: 0.4;
}

span.icon-info img
{
  width: 100%;
  height: auto;
}

span.icon-info:hover, span.icon-edit:hover
{
  cursor: pointer;
}

span.banner-edit img
{
  width: 100%;
  height: auto;
}

div.profile-items
{
  position: absolute;
  left: 275px;
  height: 50px;
  width: auto;
}

div.profile-items a
{
  height: 50px;
  line-height: 50px;
  display: block;
  float: left;
  font-size: 1.1em;
  color: white !important;
  text-align: center;
  text-decoration: none;
  padding: 0px 25px !important;
  -webkit-transition: 0.2s ease;
  -webkit-transition-property: background-color;
}
div.profile-items a:hover
{
  background-color: #444;
  cursor: pointer;
}

div.profile-content
{
  height: auto;
  padding-bottom: 25px !important;
  width: 100%;
}

div.gallery-title
{
  font-size: 3.2em;
  color: white;
  height: 75px;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  text-align: center;
  line-height: 75px;
}

div.profile-content div.row
{
  height: auto;
}

div.main-avatar
{
  width: 100%;
  height: 400px;
}

div.main-avatar img
{
  width: auto;
  height: 100%;
  display: block;
  margin: 0 auto !important;
}

div.avatar-title
{
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 1.4em;
  color: white;
}

div.gallery-section
{
  height: 400px;
}

div.gallery-featured, div.gallery-recent
{
  height: auto;
  margin: 0 auto !important;
  background-color: #666;
}
div.gallery-featured
{
  padding-left: 15px !important;
}

div.gallery-featured .col-md-11, div.gallery-recent .col-md-11
{
  height: 500px;
  background-color: #888;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.about-section
{
  height: 450px;
}

div.fa-watchers,div.fa-watching
{
  height: 160px;
  margin: 25px 25px 0px 25px;
  background-color: #444;
}

div.watcher-title-box
{
  height: 40px;
  background-color: #222;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 1.3em;
  width: 100%;
}

a.watcher-title
{
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: left;
  margin-left: 15px;
  font-size: 1em;
  width: 75%;
  float: left;
}

a.watcher-count
{
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 1em;
  position: absolute;
  right: 25px;
  width: 25%;
  display: block;
  border-left: 1px solid #555;
}

div.watcher-box
{
  height: 120px;
  width: 100%;
}

div.watcher-name
{
  color: white;
  text-align: center;
  height: 40px;
  font-size: 0.9em;
  line-height: 40px;
  -webkit-transition: 0.2s ease;
  -webkit-transition-property: background-color, color;
}

div.watcher-name:hover
{
  cursor: pointer;
  background-color: #555;
  color: #faaf3a;
}

div.profile-portrait, div.friends-section
{
  height: 200px;
}

/* Profile Description */

div.desc-info
{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px !important;
    border-right: 1px solid #555;
}

div.upper-desc
{
  margin-top: 75px;
}

div.upper-desc, div.mid-desc, div.lower-desc
{
  width: calc(100% - 100px);
  padding-bottom: 25px !important;
  height: auto;
  color: white;
}

div.profile-desc
{
  width: 100%;
  height: auto;
  background-color: #333;
}

div.profile-desc div.row
{
  height: 100%;
}

div.desc-info
{
  height: 100%;
}

div.profile-info
{
  position: absolute;
  right: 0;
  margin-top: -40px;
  height: 40px;
  width: auto;
  opacity: 0.75;
}

div.profile-info a
{
  height: 40px;
  line-height: 40px;
  display: block;
  float: left;
  font-size: 0.8em;
  color: white !important;
  text-align: center;
  text-decoration: none;
  padding: 0px 15px !important;
  -webkit-transition: 0.2s ease;
  -webkit-transition-property: background-color;
}

div.desc-avatar
{
  margin-top: 25px;
  margin-bottom: 25px;
}

div.desc-social
{
  border-left: 1px solid #555;
  height: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

div.profile-social
{
  width: calc(100% - 60px);
  margin-left: auto !important;
  margin-left: auto !important;
}

div.social-item
{
  height: 50px;
  line-height: 50px;
  color: white;
  margin: 0 !important;
  width: 35%;
  font-size: 1.1em;
}

div.social-header
{
  font-size: 2.5em;
  text-align: center;
  color: white;
  height:70px;
  line-height: 70px;
}

span.icon-social
{
  height: 50px;
  width: 15%;
}

span.icon-social img
{
  height: 50px;
  width: auto;
  vertical-align:  middle;
  padding: 8px 0px 8px 0px !important;
  display: block;
  margin: 0 !important;
}

/* Icon Infobox CSS*/

div.icon-infobox
{
  display: none;
  width: 800px;
  height: 540px;
  position: fixed;
  z-index: 910;
  left: calc(50% - 400px);
  top: calc(50% - 270px);
  border-radius: 20px;
  background-color: #222;
}

.row
{
  margin: 0 !important;
}

div.icon-details
{
  background-color: #666;
  height: 540px;
  border-radius: 0px 20px 20px 0px;
}

div.icon-display
{
  height: 540px;
}

div.icon-large
{
  height: 400px;
  width: 400px;
  margin-top: 70px !important;
  position: absolute;
  left: calc(50% - 200px);
  background-color: #888;
  border-radius: 25px;
}

div.icon-large img
{
  width: 100%;
  height: 100%;
}

span.close-icon-info
{
  height: 20px;
  width: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 999;
  border-radius: 10px;
}

/* MOBILE CONSTRAINTS */

@media screen and (max-width: 1366px)
{
  div.profile-header
  {
    height: 290px;
  }
  div.profile-icon
  {
    width: 175px;
    height: 175px;

    margin-top: -90px;
  }

  div.profile-name
  {
    margin-left: 250px;
  }
  div.profile-items
  {
    left: 250px;
  }

  div.upper-desc
  {
    margin-top: 40px;
  }
}

@media screen and (max-width: 990px)
{
  div.profile-header
  {
    height: 300px;
  }
  div.profile-icon
  {
    width: 150px;
    height: 150px;
  }

  div.profile-name
  {
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 5;
    margin: 0 auto;
    margin-top: 65px;
    text-align: center;
  }

  div.profile-items
  {
    display: none;
  }

  div.sfw-toggle, div.nav-settings, div.nav-profile
  {
    display: none;
  }

  div.nav-logo
  {
    width: calc(100% - 150px);
    left: 75px;
  }

  div.upper-desc
  {
    width: calc(100% - 80px);
    padding-top: 25px !important;
    padding-bottom: 15px !important;
    border-bottom: 1px solid #555;
  }

  div.mid-desc, div.lower-desc
  {
    width: calc(100% - 80px);
    margin-top: 15px !important;
    padding-bottom: 15px !important;
  }

  div.upper-desc, div.mid-desc
  {
    border-bottom: 1px solid #555;
  }

  div.desc-avatar
  {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color: #222;
    padding-bottom: 30px !important;
  }

  div.avatar-title
  {
    height: 80px;
    font-size: 1.8em;
    line-height: 80px;
  }

  div.main-avatar
  {
    width: 300px;
    height: 300px;
  }
  div.profile-info
  {
    display: none;
  }

  div.watcher-name
  {
    width: 33.333333%;
  }

  div.profile-social
  {
    width: calc(100% - 50px);
  }

  div.social-item.col-md-4
  {
    width: 40%;
  }

  div.social-item.col-md-2
  {
    width: 10%;
  }

}

@media screen and (max-width: 768px)
{
  div.profile-header
  {
    height: 150px;
  }

  div.profile-icon
  {
    width: 150px;
    height: 150px;
    left: calc(50% - 125px);
  }
  div.upper-desc
  {
    margin-top: 75px;
  }
}
